@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    background: linear-gradient(135deg, #ffeef8, #d0f0fd);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
    transition: transform 500ms ease, color 500ms ease;
}

nav a:hover {
    color: #ff69b4;
    transform: scale(1.1);
}

.tab-content {
    display: none;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.top-text {
    margin-top: 30px;
}

.top-text h1 {
    color: #ff69b4;
    font-size: 2.5rem;
}

.top-text p {
    margin-top: 30px;
}

.weather-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ff69b4;
    outline: none;
    margin-right: 10px;
    margin-top: 20px;
}

.weather-form button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
}

.weather-form button:hover {
    background-color: #ff8cc8;
}

#get-compliment-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    color: #ff69b4;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#get-compliment-btn:hover {
    background-color: #a3e4d7;
}